<a href="https://colab.research.google.com/github/mdmohsin6/5.6-Secrets-Project/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS

pandas series

In [23]:
#string
import numpy as np
import pandas as pd

country=["india", "pakistan", 'Usa', "china"]
pd.Series(country)
#series is a class inside pandas
#series me 2 value hoti hai index or uska value
#90% pansas string ko hi object bulata hai

0       india
1    pakistan
2         Usa
3       china
dtype: object

In [2]:
#integer series
runs=[34,56,23,66,0]
pd.Series(runs)

#upr k 2 me index khud ka generate huai bt

0    34
1    56
2    23
3    66
4     0
dtype: int64

In [6]:
#custom index
marks=[23,67,45,33]
subjects=["hindi","english","urdu", "math"]
pd.Series(marks,index=subjects)
#if we want ki index hmara subject hojaye then

hindi      23
english    67
urdu       45
math       33
dtype: int64

In [16]:
#setting a name
#name = "" ek paramtere hota hai pass kr skte hain
marks=pd.Series(marks, index=subjects, name="mohsin ke marks")
marks

hindi      23.0
english     NaN
urdu       12.0
math        NaN
Name: mohsin ke marks, dtype: float64

In [17]:
#series from dictionary
marks={
    'maths':67,
    'hindi':23,
    'urdu':12
}
marks_series =pd.Series(marks, name="mohsin ke marks")
marks_series

maths    67
hindi    23
urdu     12
Name: mohsin ke marks, dtype: int64

SERIES ATTRIBUTES

In [11]:
#size
#series k andr me kinte item hain y btate=a hai
marks_series.size

3

In [12]:
#dtype
marks_series.dtype

dtype('int64')

In [18]:
#name
marks_series.name

'mohsin ke marks'

In [24]:
#is_unique
#imp
marks_series.is_unique

pd.Series([1,2,1,4,5,6]).is_unqiue

AttributeError: 'Series' object has no attribute 'is_unqiue'

In [25]:
#index
#sare index ko ek sth nikl ke dedega
marks_series.index

Index(['maths', 'hindi', 'urdu'], dtype='object')

In [27]:
#values
marks_series.values
type(marks_series.values)

numpy.ndarray

SERIES USING read_csv

In [31]:
#with one col
#csv = comma seperated values
#read_csv is a function jo csv file kp import krta hai (isme path dena hota hai )
pd.read_csv('/content/subs.csv', squeeze=True)
#data frame me aaata hai data then series me convert ke leaye squeeze parameter hota hai usko true kardo)
#type(pd.read_csv('/content/subs.csv'))

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

In [43]:
import numpy as np
import pandas as pd
subs= pd.read_csv('/content/subs.csv').squeeze()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [39]:
#with 2 col
vk =pd.read_csv('/content/kohli_ipl.csv', index_col='match_no', squeeze=True)
vk

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [44]:
movies = pd.read_csv('/content/bollywood.csv', index_col='movie').squeeze()
movies
#squeeze dataframe ni banne derha hai

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

series method

In [41]:
#HEAD AND TAIL
subs.head()
#by default kinta b dekha dega

NameError: name 'subs' is not defined

In [ ]:
vk.head(3)
#upr ke data show 3

In [ ]:
vk.tail()
#neche se deta hai
#bottom 5
vk.tail(4)
#neeche se 4

In [ ]:
#sample
#random data dega
movies.sample(5)
#sample use kro jb jese classs me topper ka uper data hai or looser ka nehche data ho then , random chahiye ho data then use sample

In [45]:
#value_counts => movies
#kis actor ne kitna kya hai movie uska data
#in descending order

movies.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [46]:
# inplace

vk.sort_values(ascending=False).head(1).values[0]
#head 1 se row ek ayega
#sort in accesding order
#by default accesding order m hota hai

NameError: name 'vk' is not defined

In [ ]:
#sort_index -> inplace  -> movies
#inplace original series me change krdeta hai
vk.sort_values(inplace=True)

In [48]:
#movie.sort_index()
movies.sort_index()
movies.sort_index(inplace =True)

SERIES MATHS METHODS