<a href="https://colab.research.google.com/github/mdmohsin6/5.6-Secrets-Project/blob/main/week_2_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print is a case sensitive language like Print wrong print right

print('Hello world!')

Hello world!

In [ ]:
print('salman khan ,best bollywoood actor')

salman khan ,best bollywoood actor

In [ ]:
print("mohsin", 1,2,4,True)

mohsin 1 2 4 True

In [ ]:
print('mohsin', 1,2,3,4,True, sep='/')

mohsin/1/2/3/4/True

In [ ]:
print('hello')
print('hello')

hello
hello

In [ ]:
print('mohsin', end = '_')
print('khan')

mohsin_khan

DATA TYPES

In [ ]:
#INTEGER
print(8)
print(1e309)
# 1*10^308

8
inf

In [ ]:
#decimal
print(3.6)
print(3.90)

3.6
3.9

In [ ]:
#boolean
print(True)
print(False)

True
False

In [ ]:
#string
print('hello world')

#complex
print(5+6j)

hello world
(5+6j)

In [ ]:
type(5)
type(5+6j)
type(4.5)
type([4,6,7,8])

list

In [ ]:
a=5
b=3
print(a+b)
#dynamic typing
a=4
#static typing
#int a =4

#dynaminc binding
a=5
print(a)
a='natish'
print(a)

8
5
natish

In [ ]:
a,b,c=1,4,6
print(a,b,c)

1 4 6

Keyword and identifier

In [ ]:
name1= 'mohsin'
print(name1)
#you can use a special character =>   _
_ = 'mohsin'
print(_)

mohsin
mohsin

INPUT

In [ ]:
input('enter email')

enter emailmohsin@gmail.com

'mohsin@gmail.com'

In [ ]:
#take input from the user and store them in a variable
#add the variable
#print the results

firstNum= int(input('enter first number'))
secondNum = int(input("enter second number"))
result= firstNum + secondNum
print(result)
type(firstNum)

enter first number2
enter second number3
5

int

create function with (dcostring)

# **operator**

In [ ]:
#arithmetic
print(2+3)
print(3+2)


#relational operator
print(4>2)
print(2<=2)
print(4!=3)

#logical operator

print(1 and 0)
print(1 or 0)
print(not 0)

#bitwise

#bitwise and
#binary representation
#2 = 0 1 0
#3 = 1 1 0
# and
#0 1 0 =2


print(2 & 3)

5
5
True
True
True
0
1
True
2

In [ ]:
#membership operator

print(1 in [2,5,6,7,8])
print('D' not in "delhi")

False
True

In [ ]:
email = input("enter your email")
password= input("enter your password")
if email == 'mohsin8164@gmail.com' and password == 'mohsin' :
  print('Welcome')
elif email == 'mohsin8164@gmail.com' and password != 'mohsin'  :
  #to tell user
  print('password not correct')
  password= input('re enter password')
  if password == 'mohsin' :
    print('welcome')
  else :
    print('tumse na hopayegaa')
else:
  print("not corrected")

enter your emailmohsin8164@gmail.com
enter your passworddfsdfds
password not correct
re enter passworddfsds
tumse na hopayegaa

question

In [ ]:
#smallest in 3 number

a = int (input('enter first number'))
b= int( input('enter second number'))
c = int (input('enter third number'))

if a<b and a<c :
  print('smallest is', a)
elif b<c:
    print("smallest is ", b)
else :
  print('smallest is c', c)

enter first number9
enter second number4
enter third number12
smallest is  4

LOOP

In [ ]:
#PROGRAM TO PRINT THE TABLE

number = int(input('enter the number'))
i=1
while i<11:
  print(number, '*', i, '=', number * i)
  i += 1

enter the number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
#while loop with else

  x = 1

  while x < 3:
    print(x)
    x += 1
  else:
    print('limit crosss')

IndentationError: unexpected indent (<ipython-input-54-c96cd92c4d94>, line 3)

In [ ]:
# for loop

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in {1,2,34,5}: #dictionary m
  print(i)

1
2
34
5

In [ ]:
#factorial
n= int(input('enter n'))

result =0
fact=1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

  print(result)

enter n4
1.0
2.0
2.5
2.6666666666666665

NESTED LOOP

In [ ]:
#NESTED LOOP

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
# *
# **
# ***
# ****

rows = int(input('enter rows'))

for i in range(1, rows+1):
  for j  in range(1, i+1):
    print('*', end='')
  print()

enter rows5
*
**
***
****
*****

TIME COMPLEXITY

In [ ]:
#MEASURE TIME TO EXECUTE

import time

start = time.time()
for i in range(1,40):
  print (i)
end = time.time()
print(end-start)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
0.004484415054321289

In [ ]:
#2 counting operation
#best case worst case average case

# ordrs of growth

LIST

In [ ]:
#empty
print([])

#1D -> Homo
print([1,2,3,4,5])

#2D
print([2,3,4,5,[7,9,1]])

#3d
print([2,4,5], [7,8,9], [1,2,3])

#Hetrogenous
print([1,True,5.7,3+4j, 'Hello'])

#using type conversion
print(list('Mohsin'))

[]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, [7, 9, 1]]
[2, 4, 5] [7, 8, 9] [1, 2, 3]
[1, True, 5.7, (3+4j), 'Hello']
['M', 'o', 'h', 's', 'i', 'n']

ACCESSING ITEM FROM A LIST

In [ ]:
#INDEXING
L = [1,2,45,6]
#2d list
L1= ([2,4,5], [7,89,1])
print(L1[-1])
#positive
print(L[1])
#nwgativve
print(L1[-1][-2])

#3D list
L3= [[[3,5,6],[3,5]],[ [1,23,2],[55,66]]]
print(L3[1][0][0])

#SLICING
L=[2,4,5,6,7]
print(L[0:3])
#0 se 3 tk print
#list reverse
print(L[::-1])

[7, 89, 1]
2
89
1
[2, 4, 5]
[7, 6, 5, 4, 2]

Adding items in a list

In [ ]:
#append
L=[1,2,3,4]
L.append(6)
print(L)

[1, 2, 3, 4, 6]

In [ ]:
#entend
L=[2,3,4,5]
L.extend([11,33])
print(L)

[2, 3, 4, 5, 11, 33]

In [ ]:
#insert 1 or 2 k beech m 100 add
#index position or kya add krna h

L=[2,3,4,5,7]
L.insert(1,2000)
print(L)

[2, 2000, 3, 4, 5, 7]

editing item in a list

In [ ]:
L= [2,3,4,5]
#L[-1]= 2000
#l ka 1 se 3 index tk ye krdo replace
L[1:3] = [4000,200,100]
print(L)

[2, 4000, 200, 100, 5]

create function with (docString)

In [ ]:
def is_even(num):
  if num % 2 ==0:
    return 'even'
  else:
    return 'odd'

#create function

In [ ]:
#call a function use
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

default arguments

In [ ]:
def power(a=1,b=1):
  return a**b

In [ ]:
power(2,3)

8

In [ ]:
#args

def multiply(a,b,c):
  return a*b*c

In [ ]:
multiply(2,4,5)

40

In [ ]:
# *args# isse we can passs unlimited arguments ek variable bna lya assign 1
#*ARGS TUPLE BNJATA HAI
def multiply(*args):
  product  = 1
  for i in args:
    product = product*i
  print(args)
  return product

In [ ]:
multiply(2,4,5,6,7,8)

13440

In [ ]:
#Documentation read
print(is_even.__.doc__)

AttributeError: 'function' object has no attribute '__'

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [ ]:
#kargs
#kargs allow us to pass any numner of keyword arguments.
#keyword arguments  mean thst they contain a key-value pair,like python dictionary

In [ ]:
def display(**kwargs):
  for(key,value) in kwargs.items():
    print(key,'>', value)

In [ ]:
display(india='delhi', abba='biri')

india > delhi
abba > biri

In [ ]:
#LAMDA FUNCTION
a =lambda x:'even' if x%2==0 else 'odd'
a(8)

'even'